.About > * {
  display: flex;
  flex-direction: column;
  padding: 16px;
  
  grid-column: 1 / -1;
  
  @media (min-width: 768px) {
    justify-content: flex-end;
    padding: 32px;
  }

}

.About-blurb {
  height: 100%;
  font-size: 30px;  
  line-height: 1.5;
  
  & > * {
    max-width: 45ch;
  }
  
  @media (min-width: 480px) {
    grid-column: span 9;
  }
  
}

.About-credits {
  line-height: 1.5;
  height: 100%;
  
  @media (min-width: 768px) {
    text-align: right;
    grid-column: span 3;
  }
}