.About > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;

  @media (min-width: 768px) {
    padding: 32px;
  }

}

.About-blurb {
  grid-column: span 9;
  height: 100%;
  font-size: 30px;  
  line-height: 1.5;

  & > * {
    max-width: 45ch;
  }
}

.About-credits {
  line-height: 1.5;
  text-align: right;
  grid-column: span 3;
  height: 100%;
}