.Easing {
  --dotSize: 36px;
  --padding: 16px;
  --columnWidth: calc(100vw / var(--colspan));
  --moveToEdge: calc(
    var(--columnWidth) - var(--dotSize) - (var(--padding) * 2)
  );
  cursor: pointer;
  height: 100%;
 
  @media (min-width: 480px) {
    --padding: 32px;
  }
  
  button {
    appearance: none;
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


.Easing-inner {
  padding: var(--padding);  
  height: 100%;
}

.Easing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Easing-dot {
  animation-duration: 3000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  background: var(--foreground);
  grid-row: content;
  height: var(--dotSize);
  transition-duration: 800ms;
  transition-property: all;
  width: var(--dotSize);
  transition-timing-function: var(--curve);
  animation-timing-function: var(--curve);
}

.Easing:hover .Easing-dot {
  animation-name: metronome;
}

@keyframes metronome {
  0% {
    transform: translateX(0);
  }
  45%,
  55% {
    transform: translateX(var(--moveToEdge));
  }
  90%,
  100% {
    transform: translateX(0);
  }
}

.Easing-footer {
  opacity: 0;
  transform: translateY(8px);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.Easing-footer.isShown {
  opacity: 1;
  transform: translateY(0)
}
