.Grid {
  border-inline-start: 2px solid black;
  border-block-start: 2px solid black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & > * {
    border-inline-end: 2px solid black;
    border-block-end: 2px solid black;
  }
}

.Grid--easing {
  min-height: 100%; 
}

.Grid--ratio,
.Grid--letterspacer {
  height: 100%;
  grid-template-rows: repeat(12, 1fr);
}