.Ratio-input {
  --padding: 16px;
  grid-column: span 12;
  grid-row: span 4;
  padding: var(--padding);
  display: grid;
  grid-template-rows: min-content 1fr;

  @media (min-width: 480px) {
    --padding: 32px;
    grid-column: span 6;
    grid-row: span 8;
  }
}

.Ratio-input label {
  text-transform: capitalize;
  display: flex;
  position: relative;
  align-items: center;
}

.Ratio-label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 4px);
  margin-left: 4px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #35d0ba;

  opacity: 0;
  transform: scale(0.9);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.Ratio-input.isActive .Ratio-label::after {
  opacity: 1;
  transform: scale(1);
}

.Ratio-input input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  background: none;
  color: var(--foreground);
  font-size: 75px;
  @media (min-width: 768px) {
    font-size: 120px;
  }

  &::placeholder {
    color: var(--muted);
  }
}

.Ratio-button {
  // annihilate user agent styles on the borders
  // unnaffected by the grid styles
  border-left: none;
  border-top: none;
  margin: 0;
  grid-column: span 6;
  grid-row: span 2;
  font-family: inherit;
  padding: 24px;
  background: var(--background);
  color: var(--foreground);
  font-size: 32px;
  cursor: pointer;
  transition: all 250ms;

  @media (min-width: 480px) {
    grid-column: span 3;
    grid-row: span 4;
  }

  &:focus,
  &:active,
  &.isActive {
    border-color: var(--foreground);
    border-radius: 0;
    background: var(--active-background);
    color: var(--active-foreground);
    outline: 0;
  }
}
