@import "reset";
@import "grid";
@import "navbar";
@import "easing";
@import "ratio";
@import "letterspacer";


.Container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.HomePage-link {
  grid-column: span 6;
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 40px;
  text-decoration: none;

  &:hover {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: black;
    color: white;
  }
  
  @media (min-width: 768px) {
    font-size: 80px;
    padding: 32px;
    font-weight: 800; 
  }
}

.UnstyledButton {
  all: unset;
  height: 100%;
  width: 100%;
}
